.amarelo{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 1769px;
    right: 0px;
    bottom: 0px;
}
.verde{
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform: translate(0%,-0%);
}
.vermelho{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0pxPX;
    left: 1769px;
    right: 0px;
    bottom: 0px;
    transform: translate(-100%,-0%);
}
.blue{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0pXpx;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform: translate(0%,-100%);
}
.roxo{
    background-color: purple;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}
.roxo:hover{
    background-color: burlywood;
 
}