body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.conteudo h2 {
    font-family: "Bungee", sans-serif;
    font-size: xx-large;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-top: 20px;
}

img {
    height: 200px;
    width: 300px;
}
